Package: com.c00kiec00k.dy
Name: HideUIButton
Version: 1.0.0
Architecture: iphoneos-arm
Description: HideUIButton
Maintainer: c00kiec00k
Author: c00kiec00k
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)